server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/auth/**,/api/v1/users/me
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/products/**
        - id: order-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/v1/orders/**,/api/v1/payments/**,/api/v1/users/me/orders
        - id: queue-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/v1/queue/**
